/**
 * @author Arie M. Prasetyo
 * @copyright 2020
 */

 .Button {
   border-radius: 2px;
   padding: 8px 12px;
   text-align: center;
   cursor: pointer;
   outline: none;
   text-decoration: none;
   overflow: hidden;
   background-color: var(--primary);
   color: var(--main-bg);
}

.Button:hover:not(:disabled) {
  background-color: var(--secondary);
}

.Button:disabled {
  cursor: default;
  background-color: var(--alt-secondary);
  color: var(--secondary);
  font-style: italic;
}