/**
 * @author Arie M. Prasetyo
 * @copyright 2020
 */

 .Button {
   border-radius: 1px;
   padding: 8px 12px;
   text-align: center;
   cursor: pointer;
   outline: none;
   text-decoration: none;
   overflow: hidden;
   background-color: beige;
}

.Button:disabled {
  cursor: default;
}