/**
 * `Button` component
 * @author Arie M. Prasetyo
 * @copyright 2020
 */

 .ToggleButton {
	display: inline-flex;
}

.ToggleButton > button {
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  overflow: hidden;
  background-color: var(--primary);
  color: var(--main-bg);
}

.ToggleButton > button:hover {
  background-color: var(--secondary);
}

.ToggleButton > button:disabled {
  cursor: default;
}

.ToggleButton > button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.ToggleButton > button:not(:first-child) {
  margin-left: -1px;
}

.ToggleButton > button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.ToggleButton > button.selected {
  background-color: var(--alt-primary);
}

.ToggleButton > button.selected:hover {
  background-color: var(--secondary);
}